.glyphicon-trash {
    color:red;
}

body{
    background-image: url('./portada.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

table{
    width: 80%;
    margin: 40px auto;
    
	  
    background: rgba(0, 0, 0, 0); border: 2px solid rgb(0, 0, 0);
}

table.list{
    text-align: center;
    width: 100%;
}
.col-md-6{
    background:rgba(250, 6, 6, 0)
}
td{
    border: 2px solid rgba(0, 0, 0, 0,1);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgba(143, 139, 139, 0.45);
}

input[type="text"],input[type="number"], input[type="date"], input[type="email"]{
    
    padding:12px 20px;
    margin:4px 0;
    display: inline-block;
    border: 2px solid rgba(84, 143, 49, 0.568);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: rgba(45, 196, 7, 0.568);
    padding:5px 10px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #0c4e06;
}

input[type="reset"]:hover{
    background: #18f736;
}

button{
    background: rgba(30, 255, 0, 0.56);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}




